.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 1183px) {
.footer {
  max-width: 928px;
}
}
    
@media screen and (max-width: 1023px) {
.footer {
  max-width: 720px;
  padding-top: 90px;
}
}
    
@media screen and (max-width: 767px) {
.footer {
  flex-direction: column;
  padding-top: 64px;
  max-width: 186px;
}
}