.place__url-heading {
  color: #aaaaaa;
  font-size: 18px;
  line-height: 1.22;
  font-style: normal;
  margin: 0;
  padding-bottom: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
.place__url-heading {
  line-height: 1;
}
}

@media screen and (max-width: 767px) {
.place__url-heading {
  line-height: 1;
}
}